@import "./styles/Constants.module.scss";

.donate {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin: 100px 0 300px 0;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }

  .donateImage {
    min-width: 360px;
    height: 360px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-image: url("/donate/EternalPlus.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #2d2d2d;

    @media (max-width: $breakpoint-laptop) {
      min-width: 250px;
      height: 250px;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      background-size: cover;
    }
  }

  .donateTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .donateTitleWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .donateTitleEmoji {
        min-width: 28px;
        height: 28px;
        background-image: url("/emoji/emoji6.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        -ms-flex-item-align: start;
        align-self: flex-start;

        @media (max-width: $breakpoint-mobile) {
          min-width: 20px;
          height: 20px;
        }
      }

      .donateTitle {
        white-space: nowrap;
        font-family: "NoirPro", sans-serif;
        font-weight: normal;
        font-size: 24px;
        margin: 0 15px 0 0;

        @media (max-width: $breakpoint-large) {
          white-space: normal;
        }
        @media (max-width: $breakpoint-tablet) {
          margin: 0 10px 0 0;
        }

        @media (max-width: $breakpoint-mobile) {
          margin: 0 10px 0 0;
        }
      }
    }

    .donateBenefits {
      margin: 14px 0;

      .benefit {
        display: inline-block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        padding: 7px 16px;
        background: #fff;
        border-radius: 6px;
        color: #111;
        margin: 0 8px 8px 0;
        border: 1px solid #2d2d2d;
        box-sizing: border-box;
      }
    }

    .donateDescription {
      margin: 14px 0;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.05em;
      color: $main-secondary-text-color;
    }
  }
}
