.layout {
  width: 100%;
  min-height: 890px;
  left: 0;
  top: 0;
  background-image: url("/background.webp");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &::before {
    content: "";

    bottom: -2px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
  }
}
