@import "../../styles/Constants.module.scss";

.navigatorItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 14px;
  background: rgba(14, 14, 14, 0.35);
  border: 1px solid #2d2d2d;
  backdrop-filter: saturate(130%) blur(15px);
  box-sizing: border-box;
  // backdrop-filter: blur(20px);
  border-radius: 6px;
  transition: 0.1s background ease-in-out;
  -webkit-transition: 0.1s background ease-in-out;
  -moz-transition: 0.1s background ease-in-out;
  -ms-transition: 0.1s background ease-in-out;
  -o-transition: 0.1s background ease-in-out;

  &:hover {
    background: #363636;
    transition: 0.1s background ease-in-out;
    -webkit-transition: 0.1s background ease-in-out;
    -moz-transition: 0.1s background ease-in-out;
    -ms-transition: 0.1s background ease-in-out;
    -o-transition: 0.1s background ease-in-out;
  }

  .navigatorItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navigatorItemEmoji {
      min-width: 16px;
      height: 16px;
      background-image: url("/emoji/emoji1.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      outline: none;

      @media (max-width: $breakpoint-mobile) {
        min-width: 16px;
        height: 16px;
      }
    }

    .navigatorItemArrow {
      min-width: 16px;
      height: 16px;
      background-image: url("/icons/arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: $breakpoint-mobile) {
        min-width: 16px;
        height: 16px;
      }
    }

    .navigatorItemLinkIcon {
      min-width: 16px;
      height: 16px;
      background-image: url("/icons/linkIconWhite.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: $breakpoint-mobile) {
        min-width: 16px;
        height: 16px;
      }
    }
  }

  .navigatorItemTitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;

    color: $main-secondary-text-color;

    @media (max-width: $breakpoint-mobile) {
      font-size: 16px;
    }
  }
}

.navigatorItemLink {
  @extend .navigatorItem;

  .navigatorItemLink {
    @extend .navigatorItemArrow;
    background-image: url("/icons/linkIconWhite.svg");
    border: none;
  }

  &:hover {
    background: #363636;
    transition: 0.1s background ease-in-out;
    -webkit-transition: 0.1s background ease-in-out;
    -moz-transition: 0.1s background ease-in-out;
    -ms-transition: 0.1s background ease-in-out;
    -o-transition: 0.1s background ease-in-out;
  }
}
