@import "../../styles/Constants.module.scss";

.sidebarItemWrapper {
  cursor: pointer;
  .sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media (max-width: $breakpoint-mobile) {
      align-items: flex-start;
    }

    .sidebarItemText {
      margin: 0;

      @media (max-width: $breakpoint-laptop) {
        font-size: 18px;
      }
    }

    .sidebarEmoji {
      min-width: 30px;
      height: 30px;
      background-image: url("/emoji/emoji4.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: $breakpoint-mobile) {
        min-width: 26px;
        height: 26px;
      }
    }
  }
}
