@import "./styles/Constants.module.scss";

.aboutItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 140px;

  p {
    margin: 0;
  }

  @media (max-width: $breakpoint-large) {
    gap: 60px;
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse !important;
  }

  .aboutImage {
    min-width: 360px;
    height: 360px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-image: url("/about/about1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-laptop) {
      min-width: 250px;
      height: 250px;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      background-size: cover;
    }
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  .aboutTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .aboutTitleWtapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .aboutTitleEmoji {
        min-width: 40px;
        height: 40px;
        background-image: url("/emoji/emoji1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        align-self: flex-start;
        margin-top: 10px;

        @media (max-width: $breakpoint-tablet) {
          min-width: 34px;
          height: 34px;
          margin-top: 12px;
        }
        @media (max-width: $breakpoint-mobile) {
          min-width: 28px;
          height: 28px;
          margin-top: 15px;
        }
      }

      .aboutTitle {
        white-space: nowrap;
        font-family: "NoirPro", sans-serif;
        font-weight: normal;
        font-size: 40px;
        line-height: 57px;
        /* identical to box height */

        letter-spacing: 0.05em;
        margin: 0 0 0 15px;

        @media (max-width: $breakpoint-large) {
          white-space: normal;
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: 28px;
          margin: 0 0 0 10px;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 24px;
          margin: 0 0 0 10px;
        }
      }
    }

    .aboutDescription {
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      margin: 17px 0 60px 0;
    }
  }
}
