@import "./styles/Constants.module.scss";

.aboutItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 28px;

  p {
    margin: 0;
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse !important;
  }

  .aboutImage {
    min-width: 360px;
    height: 360px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-image: url("/about/about1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #2d2d2d;

    @media (max-width: $breakpoint-laptop) {
      min-width: 250px;
      height: 250px;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      background-size: cover;
    }
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  .aboutTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .aboutTitleWtapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .aboutTitleEmoji {
        min-width: 28px;
        height: 28px;
        background-image: url("/emoji/emoji1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        align-self: flex-start;

        @media (max-width: $breakpoint-mobile) {
          min-width: 20px;
        height: 20px;
        }
      }

      .aboutTitle {
        white-space: nowrap;
        font-family: "NoirPro", sans-serif;
        font-weight: normal;
        font-size: 24px;
        margin: 0 0 0 15px;

        @media (max-width: $breakpoint-large) {
          white-space: normal;
        }
        @media (max-width: $breakpoint-tablet) {
          margin: 0 0 0 10px;
        }

        @media (max-width: $breakpoint-mobile) {
          margin: 0 0 0 10px;
        }
      }
    }

    .aboutDescription {
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.05em;
      margin: 17px 0 60px 0;
      color: $main-secondary-text-color;
    }
  }
}
