@import "../../styles/Constants.module.scss";

.wikiWrapper {
  display: flex;
  flex-direction: row;
  gap: 37px;
  margin: 50px 0 100px 0;

  ::-webkit-scrollbar-track {
    background: transparent;
    width: 14px;
  }

  ::-webkit-scrollbar {
    width: 30px;
  }

  ::-webkit-scrollbar-thumb {
    width: 6px;
    border: 12px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }

  @media (max-width: $breakpoint-laptop) {
    flex-direction: column;
  }
  @media (max-width: $breakpoint-mobile) {
    margin: 10px 0 100px 0;
  }

  .wikiMenuWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 60px;
    align-self: flex-start;

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      height: 30px;

      left: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.5) 100%
      );
      border-radius: 0px 0px 19px 19px;
    }

    @media (max-width: $breakpoint-laptop) {
      position: relative;
      top: 0;
      width: 100%;
    }

    .wikiMenuTitle {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      font-family: "NoirPro", sans-serif;
      font-weight: bold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #ffffff;

      @media (max-width: $breakpoint-laptop) {
        font-size: 30px;
      }
    }

    .wikiMenu {
      min-width: 390px;
      background: rgba(17, 17, 17, 0.05);
      border: 1px solid #868686;
      box-sizing: border-box;
      backdrop-filter: blur(20px);
      border-radius: 20px;
      padding: 15px 0;

      @media (max-width: $breakpoint-laptop) {
        overflow-y: overlay;
        max-height: 300px;
        min-width: 0;
      }
      @media (max-width: $breakpoint-mobile) {
        max-height: 250px;
      }

      .wikiMenuSubtitle {
        margin: 0;
        padding: 15px 26px;
        border-top: 1px solid #868686;
        border-bottom: 1px solid #868686;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        /* identical to box height, or 20px */

        letter-spacing: 0.05em;

        color: #e2e2e2;
      }

      .wikiMenuList {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .wikiMenuEmoji {
          max-width: 30px;
          max-height: 30px;
          // background-image: url("/emoji/rule6.png");
          // background-size: contain;
          // background-position: center;
          // background-repeat: no-repeat;
        }

        .wikiMenuItem {
          padding: 15px 26px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          transition: 0.1s all ease-in-out;
          -webkit-transition: 0.1s all ease-in-out;
          -moz-transition: 0.1s all ease-in-out;
          -ms-transition: 0.1s all ease-in-out;
          -o-transition: 0.1s all ease-in-out;

          @media (max-width: $breakpoint-mobile) {
            align-items: flex-start;
          }

          &:hover {
            background: rgba(134, 134, 134, 0.2);
            transition: 0.1s all ease-in-out;
            -webkit-transition: 0.1s all ease-in-out;
            -moz-transition: 0.1s all ease-in-out;
            -ms-transition: 0.1s all ease-in-out;
            -o-transition: 0.1s all ease-in-out;
          }

          .wikiMenuItemTitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: $main-font-color;
            margin: 0;

            @media (max-width: $breakpoint-laptop) {
              font-size: 18px;
            }

            @media (max-width: $breakpoint-mobile) {
              margin-top: 5px;
            }
          }
        }

        .wikiMenuItemActive {
          @extend .wikiMenuItem;
          background: rgba(134, 134, 134, 0.2);
        }
      }
    }
  }
}
