@import "../../styles/Constants.module.scss";

.wikiWrapper {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin: 50px 0 100px 0;

  ::-webkit-scrollbar-track {
    background: transparent;
    width: 14px;
  }

  ::-webkit-scrollbar {
    width: 30px;
  }

  ::-webkit-scrollbar-thumb {
    width: 6px;
    border: 12px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }

  @media (max-width: $breakpoint-laptop) {
    flex-direction: column;
  }
  @media (max-width: $breakpoint-mobile) {
    margin: 10px 0 100px 0;
  }

  .wikiMenuWrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: sticky;
    top: 60px;
    align-self: flex-start;

    &::after {
      @media (max-width: $breakpoint-laptop) {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;
        pointer-events: none;
      }

      left: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.5) 100%
      );
      border-radius: 0px 0px 19px 19px;
    }

    @media (max-width: $breakpoint-laptop) {
      position: relative;
      top: 0;
      width: 100%;
    }

    .wikiMenuTitle {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      font-family: "NoirPro", sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;

      @media (max-width: $breakpoint-laptop) {
        font-size: 30px;
      }
    }

    .wikiMenu {
      min-width: 300px;
      background: rgba(14, 14, 14, 0.35);
      border: 1px solid #2d2d2d;
      backdrop-filter: blur(26px);

      border-radius: 20px;
      box-sizing: border-box;

      padding: 14px;

      @media (max-width: $breakpoint-laptop) {
        overflow-y: overlay;
        max-height: 300px;
        min-width: 0;
      }
      @media (max-width: $breakpoint-mobile) {
        max-height: 250px;
      }

      .wikiMenuSubtitle {
        margin: 7px 0 0 0;
        padding: 15px 0 8px 0;
        border-top: 1px solid #2d2d2d;
        font-weight: 500;
        font-size: 12px;
        color: #9e9e9e;
      }

      .wikiMenuList {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .wikiMenuEmoji {
          max-width: 16px;
          max-height: 16px;
          // background-image: url("/emoji/rule6.png");
          // background-size: contain;
          // background-position: center;
          // background-repeat: no-repeat;
        }

        .wikiMenuItem {
          padding: 14px 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          transition: 0.1s all ease-in-out;
          -webkit-transition: 0.1s all ease-in-out;
          -moz-transition: 0.1s all ease-in-out;
          -ms-transition: 0.1s all ease-in-out;
          -o-transition: 0.1s all ease-in-out;
          border-radius: 6px;

          @media (max-width: $breakpoint-mobile) {
            align-items: flex-start;
          }

          &:hover {
            background: #363636;
            transition: 0.1s all ease-in-out;
            -webkit-transition: 0.1s all ease-in-out;
            -moz-transition: 0.1s all ease-in-out;
            -ms-transition: 0.1s all ease-in-out;
            -o-transition: 0.1s all ease-in-out;
          }

          .wikiMenuItemTitle {
            font-weight: 400;
            font-size: 14px;
            color: $main-secondary-text-color;
            white-space: nowrap;
            margin: 0;

            // @media (max-width: $breakpoint-laptop) {
            //   font-size: 18px;
            // }

            // @media (max-width: $breakpoint-mobile) {
            //   margin-top: 5px;
            // }
          }
        }

        .wikiMenuItemActive {
          @extend .wikiMenuItem;
          background: #2d2d2d;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 24px;
            left: -8px;
            background: $second-color;
            border-radius: 6px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0px 0px 2px rgba(241, 231, 180, 0.35);
          }
        }
      }
    }
  }
}
