$main-color: #111;
$main-font-color: #fff;
$main-secondary-text-color: #c6c6c6;
$main-third-text-color: #4f4f4f;
$second-color: #ecdb85;
$footer-bg-color: #0c0c0c;
$footer-nav-title-color: #ebebeb;
$footer-nav-link-color: #949494;
$footer-nav-copyright-color: #6f8390;

$loader-start-color: #202224;
$loader-end-color: #32363a;
