@import "./styles/Constants.module.scss";

.faq {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .faqTitle {
    font-family: "NoirPro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
  }

  .faqWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 28px;

    @media (max-width: $breakpoint-laptop) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @media (max-width: $breakpoint-tablet) {
      gap: 20px;
    }
    .faqItem {
      background: rgba(14, 14, 14, 0.35);
      border: 1px solid #2d2d2d;
      box-sizing: border-box;
      backdrop-filter: saturate(130%) blur(15px);
      border-radius: 20px;
      padding: 14px;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .faqItemQuestion {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        color: $main-secondary-text-color;
      }
      .faqItemAnswer {
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        color: $main-third-text-color;
      }
    }
  }
}
