@import "./styles/Constants.module.scss";

.navigator {
  margin: 0 0 180px 0;
  .navigatorWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    

    .navigatorBlock {
      display: flex;
      flex-direction: column;
      gap: 22px;

      @media (max-width: $breakpoint-laptop) {
        gap: 30px;
      }

      .navigatorBlockTitle {
        font-family: "NoirPro", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: $main-font-color;
        margin: 0;

        @media (max-width: $breakpoint-mobile) {
          font-size: 22px;
        }

        @media (max-width: $breakpoint-large) {
          font-size: 20px;
        }
      }

      .navigatorBlockWrapper {
        // display: flex;
        // flex-direction: row;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 28px;

        @media (max-width: $breakpoint-extra-large) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        @media (max-width: $breakpoint-large) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        @media (max-width: $breakpoint-tablet) {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }

        @media (max-width: $breakpoint-mobile) {
          gap: 20px;
        }
      }
    }
  }
}
