@import "./styles/Constants.module.scss";

.nether {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 28px;

  .netherTitle {
    font-family: "NoirPro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
  }

  .netherSubtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
  }
  .netherText {
    margin: 10px 0 30px 0;
    font-weight: 400;
    font-size: 16px;
    color: #dedede;
  }

  .netherTree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }
}
