@import "./styles/Constants.module.scss";

.rulesWrapper {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin: 0 0 100px 0;
  position: relative;

  @media (max-width: $breakpoint-laptop) {
    .rulesPageUp {
      position: fixed;
      width: 30px;
      height: 30px;
      border-radius: 6px;
      right: 10px;
      bottom: 20px;
      border: 1px solid #2d2d2d;
      background: rgba(14, 14, 14, 0.35);
      backdrop-filter: saturate(130%) blur(2px);
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;

      .rulesArrow {
        width: 16px;
        height: 16px;
        background-image: url("/icons/arrowWhite.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.8;
        transform: rotate(180deg) translateY(1px);
      }
    }
  }

  @media (max-width: $breakpoint-laptop) {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: sticky;
    align-self: flex-start;
    top: 60px;

    @media (max-width: $breakpoint-laptop) {
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 30px;

        left: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.5) 100%
        );
        border-radius: 0px 0px 19px 19px;
      }
    }

    @media (max-width: $breakpoint-laptop) {
      position: relative;
      width: 100%;

      top: 0;
    }

    .sidebarTitle {
      margin: 0;
      font-family: "NoirPro", sans-serif;
      font-weight: bold;
      font-size: 24px;
      // line-height: 100%;
      // letter-spacing: 0.05em;
      color: $main-font-color;
      white-space: nowrap;
    }

    .sidebarListWrapper {
      width: 300px;
      padding: 14px;

      box-sizing: border-box;

      max-height: calc(100vh - 270px);
      overflow-y: auto;
      background: rgba(14, 14, 14, 0.35);
      border: 1px solid #2d2d2d;
      backdrop-filter: saturate(130%) blur(15px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 20px;
      position: relative;

      @media (max-width: $breakpoint-laptop) {
        width: 100%;
        max-height: 300px;
      }

      .sidebarList {
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style: none;
        padding: 0;
      }
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      width: 14px;
    }

    ::-webkit-scrollbar {
      width: 30px;
    }

    ::-webkit-scrollbar-thumb {
      width: 6px;
      border: 12px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
      background-color: #aaaaaa;
    }
  }

  .rulesitemsList {
    display: flex;
    flex-direction: column;
    // gap: 60px;
  }

  .sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 140px;
    height: 140px;
    color: #fff;
    background: #30b298;
  }
  .content {
    height: 2000px;
    width: 100%;
    background: rgb(117, 117, 117);
  }
}
